$buttons-list: "add", "arrow-left", "arrow-right", "attach", "chat", "clear", "cursor", "end-call", "lock", "meeting_join", "meeting_locked", "meeting_start", "mic", "mic_off", "notes", "pen", "screenshare", "settings", "snapshot", "text", "undo", "video", "video_off";

$buttons-with-toggled-state-list: "add", "attach", "chat", "clear", "cursor", "end-call", "lock", "mic", "notes", "pen", "screenshare", "snapshot", "text", "video";

$buttons-with-disabled-state-list: "clear", "undo";

$primary-button-bg: #3bafda;

.btn-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
}

.btn-icon {
  @extend .btn-reset;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  &:hover, &:focus, &:active {
    cursor: pointer;
    outline: none;
  }
}

@mixin button-icon-background($icon) {
  background-image: url("../images/Icon/#{$icon}.svg");

  &:hover, &:focus {
    background-image: url("../images/Icon/#{$icon}_hover.svg");
  }

  &:active {
    background-image: url("../images/Icon/#{$icon}_click.svg");
  }
}

@each $button in $buttons-list {
  .btn-#{$button} {
    @include button-icon-background($button);
  }
}

@each $button in $buttons-with-toggled-state-list {
  .btn-#{$button} {
    &.is-toggled {
      background-image: url("../images/Icon/#{$button}_selected.svg");
    }
  }
}

@each $button in $buttons-with-disabled-state-list {
  .btn-#{$button} {
    &.disabled, &:disabled {
      background-image: url("../images/Icon/#{$button}_greyout.svg");
    }
  }
}

.btn-primary {
  @extend .btn-reset;
  background-color: $primary-button-bg;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 8px 20px;
  text-transform: uppercase;

  &:hover {
    background-color: darken($primary-button-bg, 6%);
  }
}

.btn-group {
  li {
    display: inline-block;
    margin-left: 8px;
  }
}