$buttons-list: "add", "arrow-left", "arrow-right", "arrow-small-left", "arrow-small-right", "attach", "camera", "chat", "clear", "cursor", "end-call", "lock", "meeting_join", "meeting_locked", "meeting_start", "mic", "notes", "pen", "screenshare", "settings", "snapshot", "text", "undo";

$buttons-with-toggled-state-list: "add", "attach", "chat", "cursor", "end-call", "lock", "mic", "notes", "pen", "screenshare", "text", "camera";

$buttons-with-disabled-state-list: "clear", "undo";

$primary-button-bg: #3bafda;

.btn-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
}

.btn-icon {
  @extend .btn-reset;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  &:hover, &:focus, &:active {
    cursor: pointer;
    outline: none;
  }
}

@mixin button-icon-background($icon) {
  background-image: url("../images/icons/#{$icon}.svg");

  &:hover, &:focus {
    background-image: url("../images/icons/#{$icon}_hover.svg");
  }

  &:active {
    background-image: url("../images/icons/#{$icon}_active.svg");
  }

  &:after {
    display: none;
    content:
    url("../images/icons/#{$icon}_hover.svg")
    url("../images/icons/#{$icon}_active.svg");
  }
}

@each $button in $buttons-list {
  .btn-#{$button} {
    @include button-icon-background($button);
  }
}

@each $button in $buttons-with-toggled-state-list {
  .btn-#{$button} {
    &.is-toggled {
      background-image: url("../images/icons/#{$button}_toggled.svg");
    }

    &:after {
      display: none;
      content:
      url("../images/icons/#{$button}_hover.svg")
      url("../images/icons/#{$button}_active.svg")
      url("../images/icons/#{$button}_toggled.svg");
    }
  }
}

@each $button in $buttons-with-disabled-state-list {
  .btn-#{$button} {
    &.is-disabled, &:disabled {
      cursor: default;
      background-image: url("../images/icons/#{$button}_disabled.svg");    
      
      &:hover, &:focus, &:active {
        background-image: url("../images/icons/#{$button}_disabled.svg");
      }
    }
  }
}

.btn-primary {
  @extend .btn-reset;
  background-color: $primary-button-bg;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 8px 20px;
  text-transform: uppercase;

  &:hover {
    background-color: darken($primary-button-bg, 6%);
  }
}

.btn-group {
  li {
    display: inline-block;
    margin-left: 8px;
  }
}

.btn-icon {
  &.btn-arrow-small-left, &.btn-arrow-small-right {
    width: 33px
  }
}
