.toolbar {
  width:106px;
  height: 40px;
  overflow: hidden;
  transition: all 0.2s linear; 

  
  &.is-expanded {
    width: 300px;
  }
}

.screenshare {
  button {
    position: absolute;
    top: 0;
    height: 100%;
    background-position: center center;

    &.btn-arrow-right {
      right: 0;
    }
  }
}