$header-height: 45px;
$footer-height: 60px;
$leftbar-width: 140px;
$rightbar-width: 255px;
$common-bg: #2c2e33;

@for $i from -5 through 5 {
  .z-index-level_#{$i} {
    z-index: $i;
  }
}

.row, .col {
  position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: $footer-height;
}

header {
  top: 0;
  height: $header-height;
  background-color: $common-bg;
  padding-left: $leftbar-width;
  padding-right: $rightbar-width;
}

.save-input {
  -webkit-appearance: none;
  background: none;
  display: block;
  width: 100%;
  border-style: none;
  font-size: 18px;
  height: $header-height;
  font-weight: 300;
  padding: 0 20px;
  color: #fff;
  outline: none;
}

footer {
  bottom: 0;
  height: $footer-height;
  background-color: $common-bg;
  padding: 10px;
}

.presentation {
  @extend .z-index-level_-5;
  top: $header-height;
  bottom: $footer-height;
  background-color: #ddd;
}

.participants, .discussions {
  transition: all 0.5s; 

  .toggle {
    background: #000;
    height: 45px;
    padding: 2px;
  }
}

.participants {
  left: 0;
  width: $leftbar-width;
  
  &.is-collapsed {
    left: -#{$leftbar-width};
  }

  .bg {
    opacity: 0.6;
    background-color: $common-bg;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    @extend .z-index-level_-4;
  }
}

.discussions {
  right: 0;
  width: $rightbar-width;
  
  &.is-collapsed {
    right: -#{$rightbar-width};
    .toggle {
      position: fixed;
      right: -80px;
    }
  }

  .bg, .chat, .notes {
    height: 100%;
  }
}

.chat {
  .bg {
    background-color: $common-bg;
    opacity: 0.6;
  }
}

.notes {
  .bg {
    opacity: 0.8;
    background-color: #fff; 
  }
}