.participant {
  position: relative;
  min-height: 80px;
  margin-bottom: 12px;  
  cursor: pointer;

  &.is-pinned {
    border-left: 1px solid #fff;
  }

  &:hover, &.is-pinned {
    .participant-name-wrap {
      @extend .z-index-level_1;
    }
  }

  video {
    width: 100%;
  }

  canvas {
    left: 0;
    right: 0;
    top: -10px;
    bottom: 0;
    position: absolute;
    @extend .z-index-level_2;
  }  
}

.participant-name-wrap {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  @extend .z-index-level_-1;

  &.on-top {
    @extend .z-index-level_1;
  }
}

.participant-name {
  background: #2D3036;
  color: #2D3036;
  font-size: 18px;
  color: #fff;
  display: table;
  height: 100%;
  width: 100%;
  
  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.invite {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  min-width: 140px;
  height: 80px;
  position: relative;
  padding: 0;
  cursor: pointer;
  outline: none;

  @include button-icon-background("add");
  background-position: center center;
  background-repeat: no-repeat;

  .bg {
    @extend .z-index-level_-4 ;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
    background: #B3B3B3;  
  }
  
  &.is-toggled {
    background-image: none;
    cursor: default;
    width: 730px;
  }

  .btn-add {
    margin-left: 50px;
    margin-top: 20px;
  }
}

.invite-form {
  margin: 0 28px 0 0;
  padding: 20px 0;

  input {
    font-size: 16px;
    padding: 8px 10px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 260px;
    outline: none;
  }

  .vertical-seperator {
    border-right: 1px solid #fff;
    height: 60px;
    margin: 0 20px;
    padding: 9px 0;
  }
}