
.whiteboard-wrap {
  @extend .z-index-level_1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
}

.whiteboard {
  position: relative;
  width: 100%;
  height: 100%;

    textarea {
      display: none;
    }
}

.pointer {
  @extend .z-index-level_-1;
  position: absolute;

  &.pointer {
    height: 21px;
    width: 14px;
  }
  
  &.pen {
    height: 34px;
    width: 31px;
  }

  &.text {
    height: 21px;
    width: 15px;
  }
  
  .name {
    position: relative;
    top: -5px;
    left: 14px;
    color: #fff;
    padding: 1px 4px;
    background-color: #000;
    font-size: 12px;
    border-radius: 3px;
  }

  &.pen .name {
    top: -12px;
    left: 25px; 
  }  

  &.local {
    transition: none;
    
    .name {
      top: 10px;
      left: 16px;  
    }

    &.pen .name {
      top: -3px;
      left: 17px; 
    }
  }
}

.toastr {
  position: absolute;
  @extend .z-index-level_2;
  background-color: rgba(0,0,0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #fff;
  font-size: 24px;
  border-radius: 9px;
}