
.whiteboard-wrap {
  @extend .z-index-level_1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
}

.whiteboard {
  position: relative;
  width: 100%;
  height: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.pointer {
  @extend .z-index-level_-1;
  position: absolute;
  height: 40px;
  width: 40px;
  background: url("../images/icons/cursor_toggled.svg") top left no-repeat;

  &.no-bg {
    background: none;

    .name {
      top: 35px;
      left: 20px;  
    }
  }

  .name {
    position: relative;
    top: 45px;
    left: 20px;
    color: #fff;
    padding: 1px 3px;
    background-color: #000;
    font-size: 14px;
  }
}